<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename= 'logo/logotipo.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet"> 
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="{{ url_for('home') }}" class="brand-logo" style="background-color: white;">
                
                <img class="logo-compact" src="" style="color: black;font-size: small;" alt="Pedal Club">
                <img class="brand-title" src="" style="color: black;font-size: small;" alt="Pedal Club">
                
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            
                        </div>

                        <ul class="navbar-nav header-right">
                            
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    
                                    <a href="#" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Main Menu</li>
                    <li><a href="{{ url_for('home') }}" aria-expanded="false"><i class="fas fa-home"></i><span
                        class="nav-text">Dashboard</span></a>
                    </li>

                    <li class="nav-label">Message History</li>
                    <li><a href="{{ url_for('contacts') }}" aria-expanded="false"><i class="fas fa-address-book"></i><span
                        class="nav-text">Contacts</span></a>
                    </li>
                    <li class="nav-label">Matches</li>
                    
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="fas fa-user-friends"></i>
                        <span class="nav-text">Match Bookings</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('bookings') }}" style="color: yellow;">List of Bookings</a></li>
                            <li><a href="{{ url_for('add_new_booking') }}" style="color: yellow;">Add new Booking</a></li></ul>
                    </li>
                    <li class="nav-label">User Database</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="fas fa-user-friends"></i>
                        <span class="nav-text">Players</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('players') }}">List of Players</a></li>
                            <li><a href="{{ url_for('create_new_player') }}">Add new Player</a></li></ul>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add new Player</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post" id="new_event_form">
                                
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label style="color: rgb(61, 56, 56);">Event Date</label>
                                        <input name="datepicker" class="datepicker-default form-control" id="datepicker">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label style="color: rgb(61, 56, 56);">Event Time</label>
                                        <select id="inputTime" name="event_time" class="form-control">
                                            <option value="Choose..." selected>Choose...</option>
                                            <option value="08:00 - 09:30">08:00 - 09:30</option>
                                            <option value="09:30 - 11:00">09:30 - 11:00</option>
                                            <option value="17:30 - 19:30">17:30 - 19:30</option>
                                            <option value="19:00 - 20:30">19:00 - 20:30</option>
                                            <option value="20:30 - 22:00">20:30 - 22:00</option>
                                        </select>
                                        <div class="small text-danger" id="time_error">
    
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label style="color: rgb(61, 56, 56);">Court name</label>
                                        <select id="inputCourt" name="event_court" class="form-control">
                                            <option value="Choose..." selected>Choose...</option>
                                            <option value="Pádel 1">Pádel 1</option>
                                            <option value="Pádel 2">Pádel 2</option>
                                            <option value="Pádel 3">Pádel 3</option>
                                            <option value="Pádel 4">Pádel 4</option>
                                            <option value="Pádel 5">Pádel 5</option>
                                            <option value="Pádel 6">Pádel 6</option>
                                        </select>
                                        <div class="small text-danger" id="court_error">
    
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label style="color: rgb(61, 56, 56);">Player Capacity</label>
                                        <select id="inputCapacity" name="event_capacity" class="form-control">
                                            <option value="Choose..." selected>Choose...</option>
                                            <option value="2">2</option>
                                            <option value="4">4</option>
                                        </select>
                                        <div class="small text-danger" id="capacity_error">
    
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label style="color: rgb(61, 56, 56);">Status</label>
                                        <select id="inputStatus" name="event_status" class="form-control">
                                            <option value="Choose..." selected>Choose...</option>
                                            <option value="Open">Open</option>
                                            <option value="Closed">Closed</option>
                                        </select>
                                        <div class="small text-danger" id="status_error">
    
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary">Save & Add</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="https://yatezzitos.com/" target="_blank">Yatezzitos</a></p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script>
        document.getElementById('new_event_form').addEventListener('submit', function(event) {
            let isValid = true;
            const sex = document.getElementById('inputSex').value;
            const level = document.getElementById('inputLevel').value;
            const sexErrorDiv = document.getElementById('sex_error');
            const levelErrorDiv = document.getElementById('level_error');
            
            sexErrorDiv.textContent = '';
            levelErrorDiv.textContent = '';
            
            if (sex === 'Choose...') {
                sexErrorDiv.textContent = 'This field cannot be empty';
                isValid = false;
            }
            
            if (level === 'Choose...') {
                levelErrorDiv.textContent = 'This field cannot be empty';
                isValid = false;
            }
            
            if (!isValid) {
                event.preventDefault();
            }
        });
    </script>
    <!-- Required vendors -->
    <script src="{{ url_for('static',filename = 'vendor/global/global.min.js') }}"></script>  
    <script src="{{ url_for('static',filename = 'js/quixnav-init.js') }}"></script> 
    <script src="{{ url_for('static',filename = 'js/custom.min.js') }}"></script>
    
    <!-- Daterangepicker -->
    <!-- momment js is must -->
    <script src="{{ url_for('static',filename = 'vendor/moment/moment.min.js') }}" ></script>
    <script src="{{ url_for('static',filename = 'vendor/bootstrap-daterangepicker/daterangepicker.js') }}" ></script>

    <!-- clockpicker -->
    <script src="{{ url_for('static',filename = 'vendor/clockpicker/js/bootstrap-clockpicker.min.js') }}" ></script>
    <!-- asColorPicker -->
    <script src="{{ url_for('static',filename = 'vendor/jquery-asColor/jquery-asColor.min.js') }}" ></script>
    <script src="{{ url_for('static',filename = 'vendor/jquery-asGradient/jquery-asGradient.min.js') }}" ></script>
    <script src="{{ url_for('static',filename = 'vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js') }}" ></script>


    <!-- Material color picker -->
    <script src="{{ url_for('static',filename = 'vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}" ></script>
    <!-- pickdate -->
    <script src="{{ url_for('static',filename = 'vendor/pickadate/picker.js') }}" ></script>
    <script src="{{ url_for('static',filename = 'vendor/pickadate/picker.time.js') }}" ></script>
    <script src="{{ url_for('static',filename = 'vendor/pickadate/picker.date.js') }}" ></script>



    <!-- Daterangepicker -->
    <script src="{{ url_for('static',filename = 'js/plugins-init/bs-daterange-picker-init.js') }}"></script> </script>
    <!-- Clockpicker init -->
    <script src="{{ url_for('static',filename = 'js/plugins-init/clock-picker-init.js') }}" ></script>
    <!-- asColorPicker init -->
    <script src="{{ url_for('static',filename = 'js/plugins-init/jquery-asColorPicker.init.js') }}" ></script>
    <!-- Material color picker init -->
    <script src="{{ url_for('static',filename = 'js/plugins-init/material-date-picker-init.js') }}" ></script>
    <!-- Pickdate -->
    <script src="{{ url_for('static',filename = 'js/plugins-init/pickadate-init.js') }}" ></script>

</body>

</html>