<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <style>
        /* Increase width and height of <td> elements */
            #customTable {
                table-layout: fixed;
            }

            #customTable td {
                width: 60px !important;
                height: 15px !important;
                padding: 0 !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }


        /* Ensure text is centered vertically and horizontally */
        #flex-c {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        /* Optional: If you want to make sure the links fill the cell */
        #customTable td a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('home') }}">Pedal Club</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contacts') }}">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('extra_bookings') }}">List of Bookings</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Players
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">List of Players</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{ url_for('create_new_player') }}">Add new Player</a></li>
                </ul>
            </ul>
          </div>
        </div>
    </nav> 
    <section id="main_body">
        <div class="card-body px-3 mt-2">
            <div class="form-group form-group-sm row">
                <div class="col-sm-2 mb-2 input-sm">
                    <input name="event_date" id="startDate" class="form-control" type="date" value="{{ t_date }}" required/>
                </div>
                <div class="col-sm-6">
                    <button id="todayBtn" class="btn btn-sm btn-primary">Today</button>
                    <button id="prevDayBtn" class="btn btn-sm btn-info"><i class="fa fa-chevron-left"></i></button>
                    <button id="nextDayBtn" class="btn btn-sm btn-info"><i class="fa fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div class="table-responsive px-4">
            <table class="table table-bordered table-sm" style="color: black;">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center" style="font-size: x-small;">Time Periods</th>
                        <th class="text-center" style="font-size: x-small;">Pádel 1</th>
                        <th class="text-center" style="font-size: x-small;">Pádel 2</th>
                        <th class="text-center" style="font-size: x-small;">Pádel 3</th>
                        <th class="text-center" style="font-size: x-small;">Pádel 4</th>
                        <th class="text-center" style="font-size: x-small;">Pádel 5</th>
                        <th class="text-center" style="font-size: x-small;">Pádel 6</th>
                    </tr>
                </thead>
                <tbody>
                    {% for time_slot, courts in booking_dict.items() %}
                    <tr>
                        <td style="font-size: 12px;max-height: 10px;">{{ time_slot }}</td>
                        {% for court, status in courts.items() %}
                        <td class="text-center" {% if booking_dict[time_slot][court] %} {% if booking_dict[time_slot][court].state == "Open" %} style="background-color: rgb(238, 164, 164);font-size: 10px;" {% else %}  style="background-color: rgb(249, 231, 182);font-size: 10px;"  {% endif %} {% endif %}>{% if booking_dict[time_slot][court] %} <a href="{{ url_for('check_booking', id = booking_dict[time_slot][court].id) }}" class="btn text-dark my-2" {% if booking_dict[time_slot][court].state == "Open" %} style="background-color: rgb(238, 164, 164);font-size: 10px;"  {% else %}  style="background-color: rgb(249, 231, 182);font-size: 10px;"  {% endif %} title="check event">
                            <div class="d-flex flex-column" id="flex-c">
                                <span style="font-size: 10px;padding: 0;">{{ booking_dict[time_slot][court].booking_time }} {% if booking_dict[time_slot][court].player_count > 0 %}
                                    ({% if booking_dict[time_slot][court].player_occupied > 0 %}{{ booking_dict[time_slot][court].player_occupied }}/{{ booking_dict[time_slot][court].player_count }}p  {% else %} {{ booking_dict[time_slot][court].player_count }}p{% endif %})
                                    {% endif %}
                                </span>
                                {% if booking_dict[time_slot][court].match_level %} <span style="font-size: 9px;padding: 0;">Match Level: {{ booking_dict[time_slot][court].match_level }} </span>{% endif %}
                                {% for player in booking_dict[time_slot][court].players_name_list %}
                                 <span style="font-size: 9px;padding: 0;">{{ player }} </span>
                                {% endfor %}
                            </div> </a> {% endif %}</td>
                        {% endfor %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const todayBtn = document.getElementById('todayBtn');
            const nextDayBtn = document.getElementById('nextDayBtn');
            const prevDayBtn = document.getElementById('prevDayBtn');
            const startDateInput = document.getElementById('startDate');
    
            todayBtn.addEventListener('click', function() {
                const today = new Date().toISOString().split('T')[0];
                startDateInput.value = today;
                redirectToBookings(today);
            });
    
            nextDayBtn.addEventListener('click', function() {
                const currentDate = new Date(startDateInput.value);
                const nextDay = new Date(currentDate);
                nextDay.setDate(currentDate.getDate() + 1);
                const nextDayStr = nextDay.toISOString().split('T')[0];
                startDateInput.value = nextDayStr;
                redirectToBookings(nextDayStr);
            });
    
            prevDayBtn.addEventListener('click', function() {
                const currentDate = new Date(startDateInput.value);
                const prevDay = new Date(currentDate);
                prevDay.setDate(currentDate.getDate()-1);
                const prevDayStr = prevDay.toISOString().split('T')[0];
                startDateInput.value = prevDayStr;
                redirectToBookings(prevDayStr);
            });
    
            startDateInput.addEventListener('change', function() {
                const selectedDate = startDateInput.value;
                redirectToBookings(selectedDate);
            });
    
            function redirectToBookings(dateStr) {
                window.location.href = `/bookings/${dateStr}`;
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
